/* CONFIGURACIÓN DEL CUERPO DE LA PÁGINA */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

/* CONFIGURACIÓN DE LA SELECCIÓN INICIAL DE LA PÁGINA */
.main-section {
    position: relative;
    text-align: center;
}

.background-img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; 
    background-color: rgba(173, 216, 230, 0.5); 
    padding: 20px;
    border-radius: 10px;
}

.overlay h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.overlay p {
    font-size: 18px;
    margin-bottom: 30px;
}

.overlay button {
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.overlay button:hover {
    background-color: #f03e3e;
}


/* CONFIGURACIÓN DE LAS TARJETAS CREADAS CON MENSAJES CLAROS.  */
.features {
    display: flex;
    justify-content: space-between; 
    flex-wrap: nowrap; 
    padding: 50px 20px;
    background-color: #f0f8ff; 
}

.feature {
    flex: 0 0 calc(30% - 30px); 
    background-color: #add8e6; 
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-align: center;
}

.feature:first-child {
    margin-right: 10px;
}

.feature:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature img {
    width: 100px; 
    height: 100px; 
    margin: 0 auto 20px;
    display: block;
}

.feature h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Cambiar la fuente */
}

.feature p {
    font-size: 16px;
    color: #666;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Cambiar la fuente */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


/* MEDIA QUERY APLICADAS PARA PANTALLAS PEQUEÑAS */
@media only screen and (max-width: 768px) {
    .features {
        flex-direction: column; 
        align-items: center;
        padding: 20px; 
    }
    
    .feature {
        width: 100%; 
        margin-bottom: 20px; 
    }

    .overlay h1 {
        font-size: 16px; 
    }

    .overlay p {
        display: none; 
    }

    .overlay button {
        font-size: 12px; 
    }
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 14px; /* Tamaño de fuente más grande */
    padding: 8px 40px; /* Aumenta el espacio alrededor del texto */
}